/* .navbar {
  background: #ffffff;
  height: 70px;
  display: flex;
  justify-content: center;

  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-logo {
  color: rgb(0, 58, 106);
  justify-self: start;
  margin-left: 20px;
  cursor: pointer;
}
.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 10px;
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 2rem;
  color: #3c4251;
  font-size: 15px;
  letter-spacing: 0.03em;
}
.nav-menu .icon:hover {
  background-color: rgb(0, 58, 106);
  color: #ffffff;
}

.nav-menu .icon:hover {
  display: inline-block;
  background-color: rgb(0, 58, 106);
  color: #ffffff;
  height: 70px;
} */
.navbar-main {
  box-shadow: 0 0 3px 1px rgb(0 0 0 / 15%);
  background-color: #003a6a;
  color: white;
}
.navbar-item-container {
  gap: 1.5em;
}

.navbar-item-container a {
  color: white;
}
