@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  font-family: "Roboto", sans-serif;
}
.banner {
  height: 90vh;
}
.social-icons {
  position: fixed;
  bottom: 2em;
  right: 2em;
  display: flex;
  gap: 1em;
  z-index: 1000;
}

.social-icons a {
  color: #333; /* Adjust the color as needed */
  font-size: 24px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.social-icons .insta :hover {
  color: #fe0d52; /* Adjust the hover color as needed */
}
.social-icons .fb :hover {
  color: #0a65fe; /* Adjust the hover color as needed */
}
